<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row" style="background-color:#00567E">
    <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center" style="background-color:#00567E;color:white">
        <h4 style="font-size: 16px;font-weight: 400;margin-top: 10px;">
            <img alt="setting image" src="assets/images/rotate.png" style="margin-right: 21px;">
            ShutterSquad</h4>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center" style="background-color:#00567E">
        <a class="nav-link" routerlink="/" href="/" style="float: left;margin-left: -20px;"><img alt="setting image"
                src="assets/images/menu2.png"></a>
        <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown d-none d-xl-inline-block">
                <a class="nav-link icon-link" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                    <img class="img-xs rounded-circle" style="
                margin-right: 8px;" src="assets/images/faces/face1.jpg"
                        alt="Profile image">
                    <span class="profile-text">Steve Rogers</span>
                    <i class="fa fa-angle-down" style="font-size: 20px;"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                    <a class="dropdown-item mt-2" routerLink="/">
                        Change password
                    </a>
                    <a class="dropdown-item" routerLink="/login">
                        Log out
                    </a>
                </div>
            </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
        </button>
    </div>
</nav>