
<app-root-header></app-root-header>
    <div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <app-side-panel></app-side-panel>
        <div class="main-panel">
            <!-- Button trigger modal -->
            <div class="content-wrapper">
                    <button [disabled]="!allowEdit" (click)="onEditSelected()" class="btn btn-default" style="color: white;margin-bottom: 10px;background-color: #00567E;border-radius: 90px; width: 220px;height: 40px;" >Edit selected users</button>&nbsp;&nbsp;
                    <button [disabled]="!allowSuspend" (click)="onSuspendSelected()" class="btn btn-default" style="color: white;margin-bottom: 10px;background-color: #00567E;border-radius: 90px;width: 220px;height: 40px;" >Suspend selected users</button>&nbsp;&nbsp;
                    <button [disabled]="!allowSuspend" (click)="onDeleteSelected()" class="btn btn-default" style="color: white;margin-bottom: 10px;background-color: #00567E;border-radius: 90px; width: 220px;height: 40px;" >Delete selected users</button>
                <ag-grid-angular style="width: 1100px; height: 500px;" class="ag-theme-balham" 
                    [enableSorting]="true"
                    [rowSelection]="rowSelection"
                    [paginationPageSize]="40" 
                    [enableFilter]="true" 
                    [rowData]="rowData" 
                    [columnDefs]="columnDefs"
                    [groupSelectsChildren]="true"
                    [suppressRowClickSelection]="true"
                    [autoGroupColumnDef]="autoGroupColumnDef"
                    (selectionChanged)="onSelectionChanged($event)"
                    (gridReady)="onGridReady($event)">
                </ag-grid-angular>
            </div>
        </div>
    </div>
</div>