<nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
            <li class="nav-item nav-profile">
                  <div class="nav-link" style="margin-top: 22px;">
                        <div class="user-wrapper">
                              <div class="profile-image">
                                    <img src="assets/images/faces/face1.jpg" alt="profile image">
                              </div>
                              <div class="text-wrapper">
                                    <p class="profile-name" style="color: white;">Steve Rogers</p>
                                    <div>
                                          <span class="status-indicator online"></span>&nbsp;
                                          <small class="designation text-muted">online</small>
                                    </div>
                              </div>
                        </div>
                  </div>
            </li>
            <div class="menu-title" style="margin-left: 50px;margin-bottom: 26px;padding:4px;max-width: 160px;background-color: #393D47;font-size: 12px;"><span
                        style="color: white;padding-left: 7px;">Search</span>
                  <img alt="setting image" src="assets/images/search.png" style="float: right;padding-right: 6px; ">
            </div>
            <li class="nav-item" style="border-top: 1px double #3d3d3d;">
                  <a class="nav-link" routerLink="/">
                        <i class="menu-icon mdi mdi-television"></i>
                        <img src="assets/images/speedometer.png" alt="setting image">
                        <span class="menu-title" style="margin-left: 14px;">Dashboard</span>
                  </a>
            </li>
            <li class="nav-item">
                  <a class="nav-link" routerLink="users">
                        <i class="menu-icon mdi mdi-backup-restore"></i>
                        <img src="assets/images/man-user (2).png" alt="user image">
                        <span class="menu-title" style="margin-left: 14px;">Users</span>
                  </a>
            </li>
            <li class="nav-item">
                  <a class="nav-link" routerLink="/not-found">
                        <i class="menu-icon mdi mdi-chart-line"></i>
                        <img src="assets/images/multiple-users.png" alt="setting image">
                        <span class="menu-title" style="margin-left: 14px;">Groups</span>
                  </a>
            </li>
            <li class="nav-item">
                  <a class="nav-link" routerLink="/not-found">
                        <i class="menu-icon mdi mdi-television"></i>
                        <img src="assets/images/notifications-button.png" alt="setting image">
                        <span class="menu-title" style="margin-left: 14px;">Notifications</span>
                        <span style="margin-left: 18px; color: white; border-radius: 10px;padding: 2px 8px;font-size: 10px;line-height: 1.4;color: #fff;background-color: #5981DB;border-color: #5981DB;">40</span>
                  </a>
            </li>
            <li class="nav-item">
                  <a class="nav-link" routerLink="/not-found">
                        <i class="menu-icon mdi mdi-backup-restore"></i>
                        <img src="assets/images/dataStorage.png" alt="setting image">
                        <span class="menu-title" style="margin-left: 14px;">Storage</span>
                  </a>
            </li>
            <li class="nav-item">
                  <a class="nav-link" routerLink="/not-found">
                        <i class="menu-icon mdi mdi-chart-line"></i>
                        <img src="assets/images/settings2.png" alt="setting image">
                        <span class="menu-title" style="margin-left: 14px;">Settings</span>
                  </a>
            </li>
      </ul>
</nav>