<!-- <div class="container-scroller">
   <app-root-header></app-root-header>
  <div class="container-fluid page-body-wrapper">
      <app-side-panel></app-side-panel>    
     <div class="main-panel">
        <div class="content-wrapper">
            <router-outlet></router-outlet> 
        </div>
     </div>
  </div>
</div> -->

<router-outlet></router-outlet>