<div class="container-scroller">
    <app-root-header></app-root-header>
    <div class="container-fluid page-body-wrapper">
        <app-side-panel></app-side-panel>
        <div class="main-panel">
            <div class="content-wrapper">
                <h4 style="margin-bottom: 18px;color: #a2a2a2;font-size: 14px;font-weight: 400;">Dashboard</h4>
                <div class="row">
                    <div *ngFor="let dashboardValue of dashboardData" class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                        <div class="card card-statistics" [ngStyle]="{'background-color': dashboardValue.backgroundColor}">
                            <div class="card-body">
                                <div class="clearfix">
                                    <div class="float-left" [ngStyle]="{'color': dashboardValue.color}">
                                        {{dashboardValue.value}}
                                    </div>
                                    <div class="float-right">
                                        <p class="mb-0 text-right" [ngStyle]="{'color': dashboardValue.color}" style="margin-right: 4px;">
                                            <img style="margin-right: 8px;" [src]="dashboardValue.icon" alt="Profile image">
                                        </p>
                                    </div>
                                </div>
                                <p class="textAppear mb-0" [ngStyle]="{'color': dashboardValue.color}">
                                    {{dashboardValue.text}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row" style="margin-top: 22px;">
                    <div class="col-lg-7 grid-margin stretch-card">
                        <div class="card" style=" border-top: 3px solid #5981DB; ">
                            <div class="card-body">
                                <h4 class="card-title">User Location distribution</h4>
                                <div id="mapdiv" style="height:350px;background-color: #E8EDF6;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 grid-margin stretch-card">
                        <div class="card" style=" border-top: 3px solid #5981DB; ">
                            <div class="card-body">
                                <h4 class="card-title">User storage plan distribution</h4>
                                <div id="chartdiv" style="height:350px;background-color: #05436B"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>